[Desktop Entry]
Encoding=UTF-8
Name=KIPMessenger
Name[ja]=KIPMessenger IPメッセンジャー
Exec=kipmsg
Icon=kipmsg
Type=Application
Comment=IPMessenger for KDE
Comment[ja]=IPメッセンジャー for KDE
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=jp.sourceforge.kipmsg
